<header class="site-header">
    <div class="site-shell header-inner">
        <a class="brand" href="/">
            <span class="brand-mark">BS</span>
            <span>BookStore Library</span>
        </a>
        <nav class="site-nav">
            <a href="{% url 'books.index' %}">Home</a>
            <a href="{% url 'authors.index' %}">Authors</a>
            <a href="{% url 'aboutus.index' %}">About Us</a>
            <a href="{% url 'contactus.index' %}">Contact Us</a>
        </nav>
    </div>
</header>
